<div class="stats">
    <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th scope="row"><span class="label">ID</span></th>
            <td>{{ id }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Type</span></th>
            <td>{{ type }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Sale Price</span></th>
            <td>{{ sale_price }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Coffers</span></th>
            <td>{{ coffers }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Timer</span></th>
            <td>{{ timer }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Protection</span></th>
            <td>{{ protection }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">Energy</span></th>
            <td>{{ energy }}</td>
          </tr>
          <tr>
            <th scope="row"><span class="label">XP</span></th>
            <td>{{ xp }}</td>
          </tr>
        </tbody>
    </table>

</div>
